version: '3.8'

services:
  postgres:
    image: postgres:16
    container_name: user-service-postgres
    environment:
      POSTGRES_DB: usersdb
      POSTGRES_USER: users_user
      POSTGRES_PASSWORD: users_password
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
